.result {
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  margin: auto;
}
.result-title {
  color: $ligth-color;
  font-family: Verdana, Tahoma, sans-serif;
  padding-bottom: 10px;
}
.result-data {
  color: $ligth-color;
  font-family: Verdana, Tahoma, sans-serif;
  padding: 20px;
}
.result-circle {
  margin: auto;
}
